<div class="uk-container uk-padding">
  <h1>Homes</h1>

  <div class="uk-grid-match uk-child-width-1-3@s" uk-grid>
    <div *ngFor="let home of homes$ | async">
      <div class="uk-card">
        <div class="uk-card-media-top">
          <img src="{{ home.image_url }}">
        </div>
        <div class="uk-card-body uk-padding-remove">
          <div
            class="uk-text-muted uk-text-uppercase uk-text-small uk-text-bold uk-text-truncate">
            {{ home.type }} / {{ home.location }}
          </div>
          <div class="uk-text-bold">
            {{ home.title }}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
