<div class="uk-container uk-container-xsmall uk-margin-large-top">

  <div class="uk-card uk-card-default">
    <div class="uk-card-header">
      <h1>Post a home for rent</h1>
    </div>
    <div class="uk-card-body">
      <form class="uk-form-horizontal uk-margin-large">

        <div class="uk-margin-large">
          <label class="uk-form-label uk-text-bold" for="form-horizontal-text">Home title</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="">
          </div>
        </div>

        <!-- <div class="uk-margin-large">
      <label class="uk-form-label uk-text-bold" for="form-horizontal-select">Home type</label>
      <div class="uk-form-controls">
        <select class="uk-select" id="form-horizontal-select">
          <option>House</option>
          <option>Apartment</option>
          <option>Room</option>
        </select>
      </div>
    </div> -->

        <div class="uk-margin-large">
          <div class="uk-form-label uk-text-bold">Home type</div>
          <div class="uk-form-controls uk-form-controls-text">
            <label><input class="uk-radio" type="radio" name="house-type" value="house"> House</label><br>
            <label><input class="uk-radio" type="radio" name="house-type" value="apartment"> Apartment</label><br>
            <label><input class="uk-radio" type="radio" name="house-type" value="room"> Room</label><br>
          </div>
        </div>

        <div class="uk-margin-large">
          <label class="uk-form-label uk-text-bold" for="form-horizontal-text">Image URL</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="">
          </div>
        </div>

        <div class="uk-margin-large">
          <label class="uk-form-label uk-text-bold" for="form-horizontal-text">Price per night in USD</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="">
          </div>
        </div>

        <div class="uk-margin-large">
          <span class="uk-form-label uk-text-bold">Amenities</span>
          <div class="uk-form-controls">
            <label><input class="uk-checkbox" type="checkbox"> Fireplace</label><br>
            <label><input class="uk-checkbox" type="checkbox"> Wifi</label><br>
            <label><input class="uk-checkbox" type="checkbox"> Heating</label><br>
            <label><input class="uk-checkbox" type="checkbox"> A/C</label><br>
          </div>
        </div>

      </form>
    </div>
    <div class="uk-card-footer uk-text-right">
      <button class="uk-button uk-button-large uk-button-primary">Post</button>
    </div>
  </div>

</div>
