<div class="uk-container uk-container-xsmall uk-margin-large-top uk-margin-large-bottom">

  <form class="uk-form-horizontal uk-margin-large" [formGroup]="form">
    <div class="uk-card uk-card-default">
      <div class="uk-card-header uk-background-primary uk-light">
        <h2 class="uk-h2">Post a home for rent</h2>
      </div>
      <div class="uk-card-body">

        <div class="uk-margin">
          <label class="uk-form-label uk-text-bold" for="home_title">Home title</label>
          <div class="uk-form-controls">
            <input
              class="uk-input"
              id="home_title"
              type="text"
              [ngClass]="{ 'uk-form-danger': homeTitle.invalid && (homeTitle.dirty || homeTitle.touched) }"
              [formControlName]="'home_title'">
            <div *ngIf="homeTitle.invalid && (homeTitle.dirty || homeTitle.touched)">
              <div *ngIf="homeTitle.errors?.required" class="uk-text-danger">
                Home title is required.
              </div>
              <div *ngIf="homeTitle.errors?.minlength" class="uk-text-danger">
                Home title must be at least 5 characters long.
              </div>
              <div *ngIf="homeTitle.errors?.maxlength" class="uk-text-danger">
                Home title must be less than 15 characters long.
              </div>
            </div>
          </div>
        </div>

        <div class="uk-margin">
          <div class="uk-form-label uk-text-bold">Home type</div>
          <div class="uk-form-controls uk-form-controls-text uk-flex uk-flex-column">
            <label>
              <input
                class="uk-radio"
                type="radio"
                name="home_type"
                value="house"
                [formControlName]="'home_type'">
              House
            </label>
            <label>
              <input
                class="uk-radio"
                type="radio"
                name="home_type"
                value="apartment"
                [formControlName]="'home_type'">
              Apartment
            </label>
            <label>
              <input
                class="uk-radio"
                type="radio"
                name="home_type"
                value="room"
                [formControlName]="'home_type'">
              Room
            </label>
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label uk-text-bold" for="home_price">Price per night</label>
          <div class="uk-form-controls">
            <input
              class="uk-input"
              id="home_price"
              type="text"
              [ngClass]="{ 'uk-form-danger': homePrice.invalid && (homePrice.dirty || homePrice.touched) }"
              [formControlName]="'home_price'">
            <div *ngIf="homePrice.invalid && (homePrice.dirty || homePrice.touched)">
              <div *ngIf="homePrice.errors?.required" class="uk-text-danger">
                Home price is required.
              </div>
              <div *ngIf="homePrice.errors?.pattern" class="uk-text-danger">
                Home price must be numeric.
              </div>
              <div *ngIf="homePrice.errors?.min" class="uk-text-danger">
                Home price must be at least $100 per night.
              </div>
              <div *ngIf="homePrice.errors?.max" class="uk-text-danger">
                Home price must be under $5000 per night.
              </div>
            </div>
          </div>
        </div>

        <div class="uk-margin" [formGroupName]="'home_amenities'">
          <span class="uk-form-label uk-text-bold">Amenities</span>
          <div class="uk-form-controls uk-flex uk-flex-column">
            <label><input class="uk-checkbox" type="checkbox" [formControlName]="'fireplace'"> Fireplace</label>
            <label><input class="uk-checkbox" type="checkbox" [formControlName]="'wifi'"> Wifi</label>
            <label><input class="uk-checkbox" type="checkbox" [formControlName]="'heating'"> Heating</label>
            <label><input class="uk-checkbox" type="checkbox" [formControlName]="'ac'"> A/C</label>
          </div>
        </div>

      </div>
      <div class="uk-card-footer uk-text-right">
        <button class="uk-button uk-button-large uk-button-primary" [disabled]="form.pristine || form.invalid">Post</button>
      </div>
    </div>
  </form>

</div>
